<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
Welcome to the DASHBOARD {{e}}
    Password is {{s}}

    <form action="/Cu" method = 'SET'>
            <button type = submit>Create User</button>
    </form>
    <form action="/Viewprof" method = 'SET'>
        <button type = submit>View User Profile</button>
</form>
    <form action="/logout" method = 'GET'>
            <button type = submit>Logout</button>
    </form>
    </body>
</html>